root = true

# Everything.
[*]
charset = utf-8
end_of_line = lf
indent_style = space
tab_width = 2
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Single lang.
[*.c]
indent_size = 4

# Multiple langs.
[*{.hx,.java}]
indent_style = tab

# Single specific file.
[Makefile]
indent_style = tab
tab_width = 4

# Multiple specific files.
[{package.json,.travis.yml}]
indent_style = tab
tab_width = 2
